@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');

html {
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
    background-color: hsl(0, 0%, 10%);
    width: 100%;
    overflow-x: hidden;
}

.code-style {
    background: -webkit-linear-gradient(60deg, hsl(200, 50%, 50%) 0%, hsl(250, 50%, 50%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.bg-gray {
    background-color: hsl(75, 20%, 20%);
    color: hsl(0, 100%, 100%);
}
.bg-black {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 70%);
}
.bg-code {

}

@keyframes down {
    0% { transform: translateY(0) rotate(-135deg)  }
    20% { transform: translateY(-10px) rotate(-135deg) }
    25% { transform: translateY(0px) rotate(-135deg) }
    30% { transform: translateY(-10px) rotate(-135deg) }
    35% { transform: translateY(0px) rotate(-135deg) }
}

.page-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: url(https://wallpapershome.ru/images/wallpapers/les-3840x2160-5k-4k-8k-tuman-holmi-6505.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-header::after {
    content: '';
    width: 20px;
    height: 20px;
    border: solid hsl(0, 0%, 100%);
    border-bottom: 3px;
    border-right: 3px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 10px);
    transform: rotate(-135deg);
    animation: down 3s ease-in infinite;
}
.title {
    z-index: 5;
    font-size: xxx-large;
    color: hsl(0, 100%, 100%);
    margin: 50px;

    transform: translate(0, 120%);
    opacity: 0;
}

.card {
    margin: 0 40px 40px 40px;
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.avatar-caption {
    text-align: center;
}
.my1 {
    background-image: url("https://sun9-74.userapi.com/impg/c857724/v857724666/2243bf/BxxnFrO17Qg.jpg?size=1920x1280&quality=96&sign=a2870680f713ed6bc3cc49a7b54becfe&type=album");
    background-size: auto 200px;
}
.my2 {
    background-image: url("https://sun9-57.userapi.com/impg/c854416/v854416753/1e7c9a/d02F82EGLS4.jpg?size=1920x1280&quality=96&sign=4fdd12abc0c1401b56d4154506f6b27a&type=album");
    background-size: auto 200px;
}
.my3 {
    background-image: url("https://sun9-83.userapi.com/impf/c857328/v857328881/48b31/LRvgPVMwwAY.jpg?size=1920x1280&quality=96&sign=8ad4371c27b8d64ea9f47bd7a2a6fe1b&type=album");
    background-size: auto 200px;
}

.content-block {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.content-block_title {
    z-index: 1;
    font-size: xxx-large;
    text-align: center;
}
.content-block_text {
    margin: 25px 10px;
    word-spacing: 3px;
    line-height: 30px;
    max-width: 500px;
}
.left {
    opacity: 0;
    transform: translate(-120%, 0);
}
.right {
    opacity: 0;
    transform: translate(120%, 0);
}
.scale {
    opacity: 0;
    transform: scale(0.0);
}

.horizontal-container {
    margin: 50px 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.repo-list {
    max-width: 500px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 100px;
    margin: 70px 0;
}
.repo {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
    border: 3px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 25px;
    padding: 20px;
    margin: 0 10px;
}
.repo-name {
    z-index: 1;
    padding: 10px;
    margin: 0;
}
.repo-code {
    content: '';
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    opacity: 0;
    transform: translate(-50px, -50px);
    transition: all 0.3s ease-in-out;
}
.repo-img1 {
    background: url("img/screen1.png");
}
.repo-img2 {
    background: url("img/screen2.png");
}

.repo-link:link, .repo-link:visited {
    z-index: 3;
    padding: 10px;
    color: hsl(0, 0%, 100%);
    background: hsl(132, 100%, 30%);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.repo-link:active, .repo-link:hover {
    transform: scale(1.2);
    box-shadow: 0 0 25px 25px hsla(132, 100%, 30%, 0.5);
}
.repo-link:hover ~ .repo-code {
    opacity: 90%;
    transform: translate(0,0);
}

.repo-big-name {
    grid-area: title;
    justify-self: start;
    margin: 0;
}
.repo-big-description {
    grid-area: description;
    margin: 0;
}
.repo-try-link:link, .repo-try-link:visited {
    z-index: 3;
    grid-area: try;
    justify-self: stretch;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: hsla(0, 0%, 100%, 0.1);
    color: hsl(0, 0%, 50%);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.repo-try-link:hover, .repo-try-link:active {
    background: hsla(0, 0%, 100%, 0.3);
    color: hsl(0, 0%, 100%)
}
.repo-description {
    grid-area: description
}
.repo-big {
    display: grid;
    grid-template-areas:
        'title link'
        'description try';
    grid-gap: 5px 40px;
    padding: 30px;
}
.repo-big .repo-name {

}

.page-footer {
    padding: 100px 0;
}
.page-footer_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 25px 50px;
}
.page-footer_list {
    padding: 0;
    list-style: none;
    margin-right: 100px;
}
.page-footer_list li {
    margin: 10px;
}
.page-footer_link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: hsl(0, 0%, 50%);
    transition: width 0.3s ease-in;
}
.page-footer_link:link {
    position: relative;
    text-decoration: none;
    color: hsl(0, 0%, 60%);
    transition: all 0.3s;
}
.page-footer_link:visited {
    color: hsl(75, 50%, 30%);
}
.page-footer_link:active {
    transform: translateX(10px);
}
.page-footer_link:hover::after {
    width: 100%;
}

/* JS */

.animated, .step-animated {
    transition: all 0.8s ease;
}

.active {
    opacity: 100%;
    transform: translate(0, 0);
}

.active-scale {
    opacity: 100%;
    transform: scale(1);
}
